

body {
	background-color: black;
	color: lightblue;
	text-align: center;
}

#container {
	padding-top:40px;
	display: grid;
	justify-content: center;
	grid-gap: 60px;
	margin: auto;
}

#display {
	border: 1px solid lightblue;
	color: lightblue;
	height: 200px;
	font-size: 200px;
	line-height: 200px;
	border-radius: 10px;
	width: 325px;
}

button {
	border:0px;
	outline: 0px;
	height: 50px;
	font-size: 20px;
	border-radius: 5px;
	width: 150px;
	background-color: lightgreen;
}

button:active {
	background-color: green;
	color: white;
}