

body {
	background-color: black;
	color: lightblue;
	text-align: center;
}

#container {
	display: grid;
	justify-content: center;
	grid-gap: 20px;
}

#display {
	border: 1px solid lightblue;
	height: 100px;
	color: lightblue;
	font-size: 50px;
	line-height: 100px;
	border-radius: 10px;
}

button {
	border:0px;
	outline: 0px;
	height: 50px;
	font-size: 20px;
	border-radius: 5px;
	width: 150px;
	background-color: lightgreen;
}