

body {
	background-color: black;
	color: lightblue;
	text-align: center;
}

h2 {
	position: relative;
	animation-name: header;
  animation-duration: 3s;
}

#container {
	padding-top:40px;
	display: grid;
	justify-content: center;
	grid-gap: 60px;
	margin: auto;
}

.display1 {
	border: 1px solid lightblue;
	color: lightblue;
	height: 200px;
	font-size: 200px;
	line-height: 200px;
	border-radius: 10px;
	width: 325px;
  animation-name: display;
  animation-duration: 3s;

  transition: color 1s;

}

.display2 {
	border: 1px solid lightblue;
	color: blue;
	height: 200px;
	font-size: 200px;
	line-height: 200px;
	border-radius: 10px;
	width: 325px;

  animation-name: display;
  animation-duration: 3s;
}

button {
	border:0px;
	outline: 0px;
	height: 50px;
	font-size: 20px;
	border-radius: 5px;
	width: 150px;
	background-color: lightgreen;
	animation-name: button;
  animation-duration: 3s;

}

/* Animations */
@keyframes header {
  from {top:-100px;}
  to {top:0px;}
}

@keyframes display {
  from {background-color: grey}
  to {background-color: black}
}

@keyframes button {
  from {background-color: black}
  to {background-color: lightgreen}
}
